<% include partials/header %>
<div class="container">
  <form action="/campground" method="POST">
    <div class="form-group">
      <label for="exampleInputEmail1">Movies </label>
      <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter name" name="name">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Movies </label>
      <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="image" name="img">
    </div>
   
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  
</div>



<% include partials/footer %>