<% include partials/header %>


<div class="jumbotron">
    <h1> Welcome to Camp Ground</h1>

    <a href="/campGround" class="btn btn-lg btn-primary ">Add camp ground</a>
</div>

<h1> Welcome to Camp Ground</h1>

<a href="/campGround" >Add camp ground</a>


<% include partials/footer %>