
<h1>Sign up</h1>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="user name">
    <input type="password" name="password" placeholder="password">
    <button>Submit</button>
</form>


<a href="/register">Sign up</a>
<a href="/login">LogIn</a>
<a href="/logout">LogOut</a>